{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

<div class="card shadow-sm p-5 text-center">

<h2 class="mb-3">Student Dashboard</h2>

<p class="text-muted">
Welcome to <strong>Aditya University Smart Campus Assistant</strong>.
</p>

<p class="mt-4">You can ask the chatbot about:</p>

<div class="row mt-4">

<div class="col-md-3">
<div class="border rounded p-3">
📚 <br> Courses
</div>
</div>

<div class="col-md-3">
<div class="border rounded p-3">
💰 <br> Fees
</div>
</div>

<div class="col-md-3">
<div class="border rounded p-3">
🎓 <br> Eligibility
</div>
</div>

<div class="col-md-3">
<div class="border rounded p-3">
🏢 <br> Facilities
</div>
</div>

</div>



</div>

</div>

{% endblock %}